<h1>To Do List</h1>
  <% @todos.each do |todo| %>
  <ul>
  <li><%= todo.item %></li>
  </ul>
  <%= link_to 'Show Item', todo_path(todo.id) %>
  <% end %> 

  <h1>Add a New Item</h1>
    <p>
    <%= link_to 'Click to add an item', new_todo_path %>
    </p>
  <h1>Edit Item</h1>
    <p>
    <%= link_to 'Click to edit an item', edit_todo_path %>
    </p>

  


